@font-face {
    font-family: 'intro_rust_gbase_2_line';
    src: url('../fonts/introrustg-base2line-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_proextralight';
    src: url('../fonts/sourcesanspro-extralight-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}



* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

label, h1 {
    font-family: 'intro_rust_gbase_2_line', sans-serif;;
}

.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fef08a;
    border-radius: 15px;
    box-shadow: 1px 1px 4px 3px #94a3b8;
    height: 40%;
    width: 40%;
    display: none;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 70%;
    gap: 20px;
}

form > div {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
}

div.text > label {
    display: inline-block;
    width: 200px;
    text-align: center;
    width: 30%;
}

input {
    font-size: 15px;
}

input[type="text"],
input[type="number"] {
    width: 150px;
    height: 30px;
    box-sizing: border-box;
    flex-grow: 1;
    border-radius: 10px;
    padding-left: 10px;
    border: none;
}

input#yes, 
input#no {
    flex-grow: 0;

}

div.radio-label {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    gap: 50px;
}

input[type="radio"] {
    height: 20px;
    width: 20px;
}

input:focus {
    outline: none;
    border: 2px solid blue;
}

input[type="text"]:focus:invalid:not(:placeholder-shown),
input[type="number"]:focus:invalid:not(:placeholder-shown):out-of-range {
    outline: none;
    border: 2px solid red;
}

input[type="text"]:focus:valid:not(:placeholder-shown),
input[type="number"]:focus:valid:not(:placeholder-shown):in-range {
    outline: none;
    border: 2px solid green;
}

button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bold;
    font-family: 'intro_rust_gbase_2_line', sans-serif;
    cursor: pointer;
}

button[type="submit"] {
    background-color: #22c55e;
}

button.close {
    background-color: #ef4444;
}

button[type="reset"] {
    background-color: #9ca3af;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

label.radio {
    display: flex;
    align-items: center;
    gap: 10px;
}

div.grid {
    position: relative;
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    row-gap: 20px;
    grid-auto-rows: min-content auto;
    background-color: aliceblue;
}

div.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 2% 10%;
    box-shadow: 0 2px 5px 3px #d8b4fe;
}

.book-button {
    background-color: #3b82f6;

}

.card-container {
    box-sizing: border-box;
    padding: 10px;
    background-color: #bef264;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
    grid-auto-rows: min-content;
    gap: 15px;
    justify-content: center;
}



